<p> Module Name:        {{ module_name }}   </p>
<p> Title:              {{ title }}         </p>
<p> Subtitle:           {{ subtitle }}      </p>
<p> Link:               {{ link }}          </p>
<p> Description:        {{ description }}   </p>
<p> Thumb: <img width="60" height="60" src="{{ thumb }}" alt="" /> </p>
